
body{
  font-family: 'Quicksand', sans-serif;
  margin: 0;
  height: 100vh;

}

header.navbar-container{
  width: 100%;
  max-width: 1200px;
  padding: 10px;
  margin-inline: auto;
  justify-content: space-around;
  display: flex;
 
  z-index: 9999;
}

header.navbar-container .logo img{
  width: 100px;
  height: 100px;
  margin-left: auto;
  
}

header.navbar-container .nav-list ul{
  display: flex;
  gap: 2rem 1rem;
  justify-content: center;
  align-items: flex-end;
  padding-left: 0;
  
}

header.navbar-container .nav-list a {
  padding: 1rem 1rem;
  font-size: 1,5rem;
  font-weight: 500;
  color: black;
  border-radius: 50px;
  
 
  transition: all 0.2s ease-in-out;

}
header.navbar-container .nav-list:hover a {
  background-color: beige;
}

main{
  width: 100%;
  max-width: 1200px;
  display: flex;
  align-items: center;
  flex: 1;
  margin-inline: auto;

  background-color: aqua;
}

main .content{
  display: flex;
  align-items: center;
  margin-left: 10px;
}

main .content .deskripsi-content{
  flex: 1 1;
}

main .content .deskripsi-content .title{
  margin-block: 1rem;
  font-size: 2rem;
}

main .content .deskripsi-content p{
  font-size: 1,5rem;
  line-height: 1,5rem;
}

/* aside{
  flex: 1;
  align-items: center;
}


header{
  display: inline;
}

@media screen and (max-width: 1200px){
  main{
    flex-flow: column nowrap;
  }
  main aside {
    align-items: center;
  }
}

@media screen and (max-width: 768px){
  nav ul {
    justify-content: center;
  }
  main aside {
    align-items: stretch;
  }
} */

